# SPDX-FileCopyrightText: 2025 Aiden <28298836+Aidenkrz@users.noreply.github.com>
# SPDX-FileCopyrightText: 2025 Aiden <aiden@djkraz.com>
# SPDX-FileCopyrightText: 2025 Aidenkrz <aiden@djkraz.com>
# SPDX-FileCopyrightText: 2025 BombasterDS <deniskaporoshok@gmail.com>
# SPDX-FileCopyrightText: 2025 BombasterDS2 <shvalovdenis.workmail@gmail.com>
# SPDX-FileCopyrightText: 2025 GoobBot <uristmchands@proton.me>
# SPDX-FileCopyrightText: 2025 Orion-416 <cliveocelot@gmail.com>
# SPDX-FileCopyrightText: 2025 Piras314 <p1r4s@proton.me>
# SPDX-FileCopyrightText: 2025 PunishedJoe <PunishedJoeseph@proton.me>
# SPDX-FileCopyrightText: 2025 Solstice <solsticeofthewinter@gmail.com>
# SPDX-FileCopyrightText: 2025 pheenty <fedorlukin2006@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

- type: entity
  name: "коробка з трекерами"
  parent: [BoxCardboard, BaseSecurityContraband]
  id: BoxTracker
  description: "Коробка з кількома трекерами."
  components:
  - type: StorageFill
    contents:
    - id: TrackingImplanter # Todo - Replace with biochip?
      amount: 4
  - type: Sprite
    layers:
    - state: box

- type: entity
  name: "коробка зі смертельними ін'єкціями"
  parent: [BoxCardboard, BaseSecurityContraband]
  id: BoxLethalInjection
  description: "Коробка з кількома шприцами для смертельних ін'єкцій."
  components:
  - type: StorageFill
    contents:
    - id: SyringePoisonLethalInjection
      amount: 3
  - type: Sprite
    layers:
    - state: box

- type: entity
  name: "коробка 40мм гранат з кийками"
  parent: [BoxCardboard, BaseSecurityContraband]
  id: BoxGrenadesBaton
  description: "Коробка з вісьмома 40мм гранатами з кийками для оглушення одиночних цілей."
  components:
  - type: StorageFill
    contents:
    - id: GrenadeBaton
      amount: 8
  - type: Storage
    grid:
    - 0,0,3,3
    whitelist:
      tags:
      - Grenade

- type: entity
  name: "коробка 40мм світлових гранат"
  parent: [BoxCardboard, BaseSecurityContraband]
  id: BoxGrenadesFlash
  description: "Коробка з вісьмома 40мм світловими гранатами для масового оглушення цілей."
  components:
  - type: StorageFill
    contents:
    - id: GrenadeFlash
      amount: 8
  - type: Storage
    grid:
    - 0,0,3,3
    whitelist:
      tags:
      - Grenade

- type: entity
  name: "коробка 40мм гранат зі сльозогінним газом"
  parent: [BoxCardboard, BaseSecurityContraband]
  id: BoxGrenadesTeargas
  description: "Коробка з вісьмома 40мм гранатами зі сльозогінним газом для ефективного розгону заворушень."
  components:
  - type: StorageFill
    contents:
    - id: GrenadeTeargas
      amount: 8
  - type: Storage
    grid:
    - 0,0,3,3
    whitelist:
      tags:
      - Grenade

- type: entity
  name: "коробка 40-мм змішаних пострілів"
  parent: [BoxCardboard, BaseSecurityContraband]
  id: BoxGrenadesMixedShot
  description: "Коробка, що містить три 40-мм постріли з мішечками та один 40-мм шрапнельний постріл."
  components:
  - type: StorageFill
    contents:
    - id: GrenadeBeanbagShotgun
      amount: 3
    - id: GrenadeSlug
  - type: Storage
    grid:
    - 0,0,3,3
    whitelist:
      tags:
      - Grenade
